*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/
app/src/main/res/layout/searchview.xml
app/src/main/res/xml/searchable.xml
qrmodule/.gitignore
qrmodule/build.gradle
qrmodule/proguard-rules.pro
qrmodule/src/androidTest/java/me/ydcool/lib/qrmodule/ApplicationTest.java
qrmodule/src/main/AndroidManifest.xml
qrmodule/src/main/java/me/ydcool/lib/qrmodule/activity/QrScannerActivity.java
qrmodule/src/main/java/me/ydcool/lib/qrmodule/camera/AutoFocusCallback.java
qrmodule/src/main/java/me/ydcool/lib/qrmodule/camera/CameraConfigurationManager.java
qrmodule/src/main/java/me/ydcool/lib/qrmodule/camera/CameraManager.java
qrmodule/src/main/java/me/ydcool/lib/qrmodule/camera/FlashlightManager.java
qrmodule/src/main/java/me/ydcool/lib/qrmodule/camera/PlanarYUVLuminanceSource.java
qrmodule/src/main/java/me/ydcool/lib/qrmodule/camera/PreviewCallback.java
qrmodule/src/main/java/me/ydcool/lib/qrmodule/common/Cons.java
qrmodule/src/main/java/me/ydcool/lib/qrmodule/decoding/CaptureActivityHandler.java
qrmodule/src/main/java/me/ydcool/lib/qrmodule/decoding/DecodeFormatManager.java
qrmodule/src/main/java/me/ydcool/lib/qrmodule/decoding/DecodeHandler.java
qrmodule/src/main/java/me/ydcool/lib/qrmodule/decoding/DecodeThread.java
qrmodule/src/main/java/me/ydcool/lib/qrmodule/decoding/FinishListener.java
qrmodule/src/main/java/me/ydcool/lib/qrmodule/decoding/InactivityTimer.java
qrmodule/src/main/java/me/ydcool/lib/qrmodule/decoding/Intents.java
qrmodule/src/main/java/me/ydcool/lib/qrmodule/encoding/QrGenerator.java
qrmodule/src/main/java/me/ydcool/lib/qrmodule/view/ViewfinderResultPointCallback.java
qrmodule/src/main/java/me/ydcool/lib/qrmodule/view/ViewfinderView.java
qrmodule/src/main/res/drawable-xhdpi/ic_arrow_back_white_36dp.png
qrmodule/src/main/res/drawable-xhdpi/ic_flash_off_white_36dp.png
qrmodule/src/main/res/drawable-xhdpi/ic_flash_on_white_36dp.png
qrmodule/src/main/res/layout/activity_qr_scanner.xml
qrmodule/src/main/res/menu/capture_menu.xml
qrmodule/src/main/res/raw/beep.ogg
qrmodule/src/main/res/values-zh-rCN/strings.xml
qrmodule/src/main/res/values/colors.xml
qrmodule/src/main/res/values/strings.xml
qrmodule/src/test/java/me/ydcool/lib/qrmodule/ExampleUnitTest.java
